# Dependencies
# Abaikan folder node_modules di root dan di dalam folder api
/node_modules
/ai-tani-kupang-api/node_modules

# Build output
/build
/dist

# Local Environment Variables - SANGAT PENTING!
# Jangan pernah unggah file .env ke GitHub
.env
.env.*
.env.*.local
*.env.txt

# Cloudflare Wrangler state and temporary files ode/
.idea/
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File snapshot yang digenerate oleh skrip Anda
KONTEKS_WEB.txt
struktur_proyek.txt