
 Γ¢à∩╕Å wrangler 4.34.0 (update available 4.35.0)
ΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇ
≡ƒîÇ Executing on remote database DB (59d84d8a-2981-4100-8444-7dfdb14fee06):
≡ƒîÇ To execute on your local development database, remove the --remote flag from your wrangler command.
≡ƒÜú Executed 1 command in 0.2533ms
[
  {
    "results": [
      {
        "name": "_cf_KV",
        "sql": "CREATE TABLE _cf_KV (\n        key TEXT PRIMARY KEY,\n        value BLOB\n      ) WITHOUT ROWID"
      },
      {
        "name": "alerts",
        "sql": "CREATE TABLE alerts (   id             TEXT PRIMARY KEY,   timestamp      TEXT NOT NULL,   pest_type      TEXT,   severity       TEXT,   description    TEXT,   affected_crops TEXT,   location       TEXT,   coordinates    TEXT,   photo_name     TEXT,   account_id     TEXT NOT NULL,   user_id        TEXT NOT NULL,   created_at     TEXT NOT NULL,   created_by     TEXT NOT NULL,   updated_at     TEXT NOT NULL,   updated_by     TEXT NOT NULL,   deleted_at     TEXT,   version        INTEGER NOT NULL DEFAULT 1 )"
      },
      {
        "name": "diagnosis",
        "sql": "CREATE TABLE diagnosis (   id                TEXT PRIMARY KEY,   timestamp         TEXT NOT NULL,   field_id          TEXT,   crop_type         TEXT,   latitude          REAL,   longitude         REAL,   notes             TEXT,   photo_name        TEXT,   result_label      TEXT,   result_confidence REAL,   result_severity   TEXT,   result_description TEXT,   recommendations   TEXT,   account_id        TEXT NOT NULL,   user_id           TEXT NOT NULL,   created_at        TEXT NOT NULL,   created_by        TEXT NOT NULL,   updated_at        TEXT NOT NULL,   updated_by        TEXT NOT NULL,   deleted_at        TEXT,   version           INTEGER NOT NULL DEFAULT 1 )"
      },
      {
        "name": "events",
        "sql": "CREATE TABLE events (   id             TEXT PRIMARY KEY,   title          TEXT NOT NULL,   type           TEXT,   crop           TEXT,   location       TEXT,   notes          TEXT,   start_at       TEXT NOT NULL,   end_at         TEXT,   all_day        INTEGER NOT NULL DEFAULT 0,   status         TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('pending','completed','skipped')),   completed_at   TEXT,   source_type    TEXT CHECK (source_type IN ('manual','diagnosis')),   source_id      TEXT,   account_id     TEXT NOT NULL,   user_id        TEXT NOT NULL,   created_at     TEXT NOT NULL,   created_by     TEXT NOT NULL,   updated_at     TEXT NOT NULL,   updated_by     TEXT NOT NULL,   deleted_at     TEXT,   version        INTEGER NOT NULL DEFAULT 1,   FOREIGN KEY (source_id) REFERENCES diagnosis(id) ON UPDATE CASCADE ON DELETE SET NULL )"
      },
      {
        "name": "idx_alerts_active",
        "sql": "CREATE INDEX idx_alerts_active   ON alerts(account_id, user_id, deleted_at)"
      },
      {
        "name": "idx_alerts_tenant_ts",
        "sql": "CREATE INDEX idx_alerts_tenant_ts   ON alerts(account_id, user_id, timestamp DESC)"
      },
      {
        "name": "idx_diagnosis_active",
        "sql": "CREATE INDEX idx_diagnosis_active   ON diagnosis(account_id, user_id, deleted_at)"
      },
      {
        "name": "idx_diagnosis_tenant_ts",
        "sql": "CREATE INDEX idx_diagnosis_tenant_ts   ON diagnosis(account_id, user_id, timestamp DESC)"
      },
      {
        "name": "idx_events_active",
        "sql": "CREATE INDEX idx_events_active ON events(account_id, user_id, deleted_at)"
      },
      {
        "name": "idx_events_tenant_start",
        "sql": "CREATE INDEX idx_events_tenant_start ON events(account_id, user_id, start_at DESC)"
      },
      {
        "name": "idx_events_tenant_status_start",
        "sql": "CREATE INDEX idx_events_tenant_status_start ON events(account_id, user_id, status, start_at DESC)"
      },
      {
        "name": "v_alerts_active",
        "sql": "CREATE VIEW v_alerts_active AS   SELECT * FROM alerts WHERE deleted_at IS NULL"
      },
      {
        "name": "v_diagnosis_active",
        "sql": "CREATE VIEW v_diagnosis_active AS   SELECT * FROM diagnosis WHERE deleted_at IS NULL"
      },
      {
        "name": "v_events_active",
        "sql": "CREATE VIEW v_events_active AS   SELECT * FROM events WHERE deleted_at IS NULL"
      },
      {
        "name": "v_events_daily_counts",
        "sql": "CREATE VIEW v_events_daily_counts AS   SELECT account_id, user_id,          substr(start_at, 1, 10) AS day,          COUNT(*) AS total     FROM events    WHERE deleted_at IS NULL    GROUP BY account_id, user_id, day"
      }
    ],
    "success": true,
    "meta": {
      "served_by": "v3-prod",
      "served_by_region": "APAC",
      "served_by_primary": true,
      "timings": {
        "sql_duration_ms": 0.2533
      },
      "duration": 0.2533,
      "changes": 0,
      "last_row_id": 0,
      "changed_db": false,
      "size_after": 65536,
      "rows_read": 33,
      "rows_written": 0,
      "total_attempts": 1
    }
  }
]
